<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 pt-3 bg-dark">
				<h1 class="text-center mb-4 text-light">
					HOMEWORKS
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h3 class="text-center text-secondary border-bottom pb-3 mt-3 mb-3">
					Task List
				</h3>				
				<ul class="nav flex-column text-center">
					<li class="nav-item p-1">
						<a href="#" class="nav-link text-secondary">
							Learning arrays (lesson 08)
						</a>
					</li>
					<li class="nav-item p-1">
						<a href="#" class="nav-link text-secondary">
							Hobbits (lesson 10)
						</a>
					</li>
					<li class="nav-item p-1">
						<a href="#" class="nav-link text-secondary">
							Math operation (lesson 11)
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>