<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TASK</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="template.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 pt-3 bg-dark">
				<h1 class="text-center mb-4 text-light">
					TASK
				</h1>				
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p class="pt-5 pb-5 border-bottom">
					TASK:
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quod fugit labore sequi, eos sapiente veritatis minima modi repudiandae ipsa dolor commodi ut eveniet, quae adipisci. Dolorem quaerat, magni eligendi?
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 pb-3 border-bottom">
				<h4 class="text-center mt-5 mb-5 ">
				OPTIONAL CONTAINER
				</h4>				
			</div>
		</div>	
		<div class="row">
			<div class="col-12 pb-3 border-bottom">
				<h4 class="text-center mt-5 mb-5 ">
				CONTAINER
				</h4>				
			</div>
		</div>		
	</div>
</div>
</body>
</html>