<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TASK</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="row bg-dark">
			<div class="col-2 pt-3">
				<a href="../index.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">BACK</a>	
			</div>
			<div class="col-10 pt-3">
				<h1 class="mb-4 text-light">
					TASK
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<ul class="list-group">
						<li class="list-group-item border-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque inventore ex labore pariatur accusamus sapiente eos voluptas officiis, eius accusantium quas, itaque consequuntur ad harum voluptate deleniti assumenda dolorem. Tenetur.
						</li>
						<li class="list-group-item border-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus repellat accusamus aut ipsum magnam numquam tenetur odio perferendis ex quos, autem nisi, nostrum quas illum, ad omnis nobis facere ullam.
						</li>						
					</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 pb-3 border-bottom">
				<h4 class="text-center mt-5 mb-5 ">
					OPTIONAL CONTAINER
				</h4>				
			</div>
		</div>	
		<div class="row">
			<div class="col-12 pb-3 border-bottom">
				<h4 class="text-center mt-5 mb-5 ">
					CONTAINER
				</h4>				
			</div>
		</div>			
	</div>
</div>
</body>
</html>