a{
	transition: color .8s linear;
}

.nav-list{
	height: 100vh;
	padding-top: 30px;
	background-color: #3F4448;
	color: #ffffff;
}

.link-back{	
	font-size: 1.2rem;
	color:  #ffffff;	

}

.link-back:hover,
.nav-link:hover
{
	color: #5F5F5F;
	text-decoration: none;
}

.nav-link{
	font-size: 1.3rem;
	color: #ffffff;
}

.task-content{
	padding-top: 30px;
}

.task-content__title{
	margin-left: 50px;
	text-decoration: underline;
}

.task{
	padding-top: 20px;
	font-size:  1.1rem;
}

.task__item{
	padding-bottom: 30px;
}

