<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Learning JS</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="template.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container-fluid wrapper">
		<div class="row">
			
			<div class="col-3 nav-list">				
				<ul class="nav flex-column text-center">
					<li class="nav-item">
						<a href="#" class="nav-link">
							Task 1
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							Task 2
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">
							Task 3
						</a>
					</li>						
				</ul>				
			</div>

			<div class="col-9 task-content">
				<h1 class="task-content__title">
					TASK TITLE
				</h1>
				<ol class="task">
					<li class="task__item">
						<p class="task__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, voluptatum alias ipsa recusandae error itaque possimus accusamus modi corporis deserunt eligendi.</p>

					</li>
					<li class="task__item">
						<p class="task__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, voluptatum alias ipsa recusandae error itaque possimus accusamus modi corporis deserunt eligendi.</p>
						<div class="task__container">
							<button>Button for task</button>
						</div>
					</li>
					<li class="task__item">
						<p class="task__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, voluptatum alias ipsa recusandae error itaque possimus accusamus modi corporis deserunt eligendi.</p>
					</li>
				</ol>
			</div>
		</div>
	</body>
	</html>