body{
	margin: 0;
	padding: 0;
	font-size: 18px;
	box-sizing: border-box;
}
ul, ol{
	margin: 0;
}

h1{
	margin: 0;
	padding: 0;
}


.wrapper{
	display: flex;	
}

.lessons{
	width: 30%;
	height: 100vh;	
	padding-top: 20px;
	background-color: #24292E;	
	color: #ffffff;
}

.lessons__list{
	list-style-type: none;
}

.lessons__item{
	padding: 20px;
}

.lessons__link{
	color: #ffffff;
	text-decoration: none;	
	transition: color .8s linear;
}

.lessons__link:hover{
	color: #3F4448;
}


.task{
	width: 70%;
	padding-top: 20px;
	background-color: #ffffff;
}

.task__title{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 20px;
}

.back{
	display: block;
	margin-right: 50px;
	text-align: right;
	color:  #ffffff;

}